---
- name: Remove duperemove
  ansible.builtin.dnf:
    name: duperemove
    state: absent
- name: Remove timers
  ansible.builtin.systemd_service:
    name: duperemove-weekly@-.timer
    state: stopped
    enabled: false
- name: Install bees
  ansible.builtin.dnf:
    name: bees
    state: present
- name: Get UUID for dm-0
  ansible.builtin.command: blkid /dev/dm-0 -s UUID -o value
  register: duperemove_uuid
  changed_when: false
- name: Create bees config file
  ansible.builtin.copy:
    content: |
             UUID={{ duperemove_uuid.stdout }}
             DB_SIZE=$((256*1024*1024))
             OPTIONS="--verbose=3"
    dest: /etc/bees/root.conf
    mode: "0644"
- name: Enable bees
  ansible.builtin.systemd_service:
    name: beesd@{{ duperemove_uuid.stdout }}.service
    state: started
    enabled: true
