---
- name: Remove duperemove
  ansible.builtin.dnf:
    name: duperemove
    state: absent
- name: Remove timers
  ansible.builtin.systemd_service:
    name: duperemove-weekly@-.timer
    state: stopped
    enabled: false
- name: Install bees
  ansible.builtin.dnf:
    name: bees
    state: present
- name: Get UUID for dm-0
  shell: blkid /dev/dm-0 -s UUID -o value
  register: UUID
- name: Create bees config file
  ansible.builtin.copy:
    content: |
             UUID={{ UUID.stdout }}
             DB_SIZE=$((256*1024*1024))
             OPTIONS="--verbose=5"
    dest: /etc/bees/root.conf
    mode: "0644"
- name: Enable bees
  ansible.builtin.systemd_service:
    name: beesd@{{ UUID.stdout }}.service
    state: started
    enabled: true
