[defaults]
interpreter_python = /usr/bin/python3
inject_facts_as_vars = False
host_key_checking = False
inventory = ./production
log_path = ./ansible.log
roles_path = ./roles/

fact_caching = jsonfile
fact_caching_connection = ~/.ansible/fact_cache
fact_caching_timeout = 86400

[ssh_connection]
pipelining = True
