[Unit]
Description=Periodic Sync for Browser Caches

[Timer]
OnActiveSec=15min
OnUnitActiveSec=1h
Unit=browser-sync-periodic.service

[Install]
WantedBy=timers.target
