SUBSYSTEM=="pci", ATTR{power/control}="auto"
SUBSYSTEM=="i2c", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/autosuspend" ATTR{power/autosuspend}="60"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth*" RUN+="/usr/sbin/ethtool -s %k wol d"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*" RUN+="/usr/sbin/ethtool -s %k wol d"
