- name: Copy firefox-sync.sh
  ansible.builtin.copy:
    src: firefox-sync.sh
    dest: "{{ var_home }}/.local/bin/firefox-sync.sh"
    mode: "0755"
- name: Copy firefox-sync.service
  ansible.builtin.copy:
    src: firefox-sync.service
    dest: "{{ var_home }}/.config/systemd/user/firefox-sync.service"
    mode: "0644"
- name: Copy firefox-sync-periodic.service
  ansible.builtin.copy:
    src: firefox-sync-periodic.service
    dest: "{{ var_home }}/.config/systemd/user/firefox-sync-periodic.service"
    mode: "0644"
- name: Copy firefox-sync.timer
  ansible.builtin.copy:
    src: firefox-sync.timer
    dest: "{{ var_home }}/.config/systemd/user/firefox-sync.timer"
    mode: "0644"
- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
- name: Enable and start firefox-sync.service
  ansible.builtin.systemd:
    name: firefox-sync.service
    enabled: true
    state: started
    scope: user
- name: Enable and start firefox-sync.timer
  ansible.builtin.systemd:
    name: firefox-sync.timer
    enabled: true
    state: started
    scope: user
