---
- name: Include system tasks
  ansible.builtin.include_tasks: system.yml

- name: Include repos tasks
  ansible.builtin.include_tasks: repos.yml

- name: Include packages tasks
  ansible.builtin.include_tasks: packages.yml

- name: Include btrfs tasks
  ansible.builtin.include_tasks: btrfs.yml

- name: Include power tasks
  ansible.builtin.include_tasks: power.yml
