---
- name: Disable vulkan tweaks
  ansible.builtin.file:
    path: /etc/profile.d/vulkan.sh
    state: absent
- name: Prepare target basics
  ansible.builtin.dnf:
    name:
      - ansible-core
      - ansible-collection-community-general
      - ansible-collection-ansible-posix
    state: present
- name: Install langpacks
  ansible.builtin.dnf:
    name:
      - langpacks-en
      - langpacks-cs
    state: present
- name: Set timezone
  community.general.timezone:
    name: "Europe/Prague"
- name: Install Others
  ansible.builtin.dnf:
    name:
      - "@multimedia"
      #
      - ansible-lint
      - bat
      - btrfsmaintenance
      - clamtk
      - compsize
      - cpufetch
      - distrobox
      - duf
      - egl-utils
      - fastfetch
      - ffmpeg-free
      - firewalld
      - git
      - gnome-backgrounds-extras
      - gnome-shell-extension-appindicator
      - gnome-shell-extension-background-logo
      - gnome-tweaks
      - htop
      - inxi
      - lame
      - libva-utils
      - lm_sensors
      - lshw
      - mc
      - mmv
      - mozilla-openh264
      - ncdu
      - nvme-cli
      - powertop
      - pwgen
      - ramalama
      - remove-retired-packages
      - rpmconf
      - screenfetch
      - ShellCheck
      - smartmontools
      - pwgen
      - tldr
      - tmux
      - tuned-utils
      - vim
      - vulkan-tools
      - wget
      - xlsclients
    state: present
- name: Enable fstrim timer
  ansible.builtin.service:
    name: fstrim.timer
    enabled: true
- name: Save list of btrfs mount points
  ansible.builtin.shell:
    cmd: set -o pipefail && /usr/bin/grep btrfs /etc/fstab | /usr/bin/awk '{ print $2 }' | /usr/bin/tr '\n' ':' | /usr/bin/sed 's/.$//'
  register: linux_fstab_mounts
  changed_when: false
- name: Config defrag paths
  ansible.builtin.lineinfile:
    dest: /etc/sysconfig/btrfsmaintenance
    regexp: '^BTRFS_DEFRAG_PATHS='
    line: BTRFS_DEFRAG_PATHS="{{ linux_fstab_mounts.stdout }}"
- name: Disable defrag timer
  ansible.builtin.service:
    name: btrfs-defrag.timer
    enabled: false
- name: Config balance paths
  ansible.builtin.lineinfile:
    dest: /etc/sysconfig/btrfsmaintenance
    regexp: '^BTRFS_BALANCE_MOUNTPOINTS='
    line: BTRFS_BALANCE_MOUNTPOINTS="auto"
- name: Enable balance timer
  ansible.builtin.service:
    name: btrfs-balance.timer
    enabled: true
- name: Config scrub paths
  ansible.builtin.lineinfile:
    dest: /etc/sysconfig/btrfsmaintenance
    regexp: '^BTRFS_SCRUB_MOUNTPOINTS='
    line: BTRFS_SCRUB_MOUNTPOINTS="auto"
- name: Enable scrub timer
  ansible.builtin.service:
    name: btrfs-scrub.timer
    enabled: true
- name: Test if system has battery
  ansible.builtin.command:
    cmd: test -d /sys/class/power_supply/BAT0 -o -d /sys/class/power_supply/macsmc-battery
  register: linux_battery_status
  changed_when: false
  ignore_errors: true
- name: Update Writeback Time
  ansible.builtin.copy:
    content: |
             vm.laptop_mode = 5
             vm.dirty_writeback_centisecs = 1500
    dest: /etc/sysctl.d/dirty.conf
    mode: "0644"
  when: linux_battery_status.rc == 0
- name: Disable NMI watchdog
  ansible.builtin.copy:
    content: kernel.nmi_watchdog = 0
    dest: /etc/sysctl.d/disable_watchdog.conf
    mode: "0644"
- name: Configure performance preference (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: cpu
    option: energy_performance_preference
    value: balance_performance
    no_extra_spaces: true
    mode: "0644"
- name: Configure performance bias (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: cpu
    option: energy_perf_bias
    value: balance-performance
    no_extra_spaces: true
    mode: "0644"
- name: Creates directory
  ansible.builtin.file:
    path: /etc/tuned/profiles/balanced-powersave
    state: directory
    mode: "0755"
- name: Battery profile
  ansible.builtin.copy:
    content: |
             [main]
             summary=Balanced profile biased towards power savings changes for battery
             include=powersave
    dest: /etc/tuned/profiles/balanced-powersave/tuned.conf
    mode: "0644"
- name: Change ppd config
  community.general.ini_file:
    path: /etc/tuned/ppd.conf
    section: battery
    option: balanced
    value: balanced-powersave
    no_extra_spaces: true
    mode: "0644"
- name: Use zstd for zram
  community.general.ini_file:
    path: /usr/lib/systemd/zram-generator.conf
    section: zram0
    option: compression-algorithm
    value: zstd
    mode: "0644"
- name: Disable WoL
  ansible.builtin.copy:
    content: |
             ACTION=="add", SUBSYSTEM=="net", NAME=="en*", RUN+="/usr/bin/ethtool -s $name wol d"
             ACTION=="add", SUBSYSTEM=="net", NAME=="wl*", ATTR{device/power/wakeup}="disabled"
    dest: /etc/udev/rules.d/wol.rules
    mode: "0644"
- name: Remove legacy net powersaving
  ansible.builtin.file:
    path: /etc/udev/rules.d/net_power_save.rules
    state: absent
- name: Remove legacy usb rule
  ansible.builtin.file:
    path: /etc/udev/rules.d/usb_power_save.rules
    state: absent
- name: Remove legacy pci rules
  ansible.builtin.file:
    path: /etc/udev/rules.d/pci_pm.rules
    state: absent
- name: Install RPM Fusion non-free release package
  ansible.builtin.dnf:
    name: "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
    disable_gpg_check: true
  when: ansible_architecture == 'x86_64'
- name: Disable anything except intel-media-driver in rpmfusion
  community.general.ini_file:
    path: /etc/yum.repos.d/rpmfusion-nonfree.repo
    section: rpmfusion-nonfree
    option: includepkgs
    value: intel-media-driver.x86_64,rpmfusion-nonfree-release.noarch
    no_extra_spaces: true
    mode: "0644"
  when: ansible_architecture == 'x86_64'
- name: Disable anything except intel-media-driver in rpmfusion-updates
  community.general.ini_file:
    path: /etc/yum.repos.d/rpmfusion-nonfree-updates.repo
    section: rpmfusion-nonfree-updates
    option: includepkgs
    value: intel-media-driver.x86_64,rpmfusion-nonfree-release.noarch
    no_extra_spaces: true
    mode: "0644"
  when: ansible_architecture == 'x86_64'
- name: Install intel-media-driver.x86_64
  ansible.builtin.dnf:
    name: intel-media-driver.x86_64
    state: present
  when: ansible_architecture == 'x86_64'
- name: Disable rpmfusion-nonfree-nvidia-driver repo
  community.general.ini_file:
    path: /etc/yum.repos.d/rpmfusion-nonfree-nvidia-driver.repo
    section: rpmfusion-nonfree-nvidia-driver
    option: enabled
    value: '0'
    no_extra_spaces: true
    mode: "0644"
- name: Disable rpmfusion-nonfree-steam repo
  community.general.ini_file:
    path: /etc/yum.repos.d/rpmfusion-nonfree-steam.repo
    section: rpmfusion-nonfree-steam
    option: enabled
    value: '0'
    no_extra_spaces: true
    mode: "0644"
- name: Disable copr.fedorainfracloud.org:phracek:PyCharm repo
  community.general.ini_file:
    path: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:phracek:PyCharm.repo
    section: copr:copr.fedorainfracloud.org:phracek:PyCharm
    option: enabled
    value: '0'
    no_extra_spaces: true
    mode: "0644"
- name: Disable 32bit packages in fedora repo
  community.general.ini_file:
    path: /etc/yum.repos.d/fedora.repo
    section: fedora
    option: excludepkgs
    value: '*.i?86'
    no_extra_spaces: true
    mode: "0644"
  when: ansible_architecture == 'x86_64'
- name: Disable 32bit packages in updates repo
  community.general.ini_file:
    path: /etc/yum.repos.d/fedora-updates.repo
    section: updates
    option: excludepkgs
    value: '*.i?86'
    no_extra_spaces: true
    mode: "0644"
  when: ansible_architecture == 'x86_64'
- name: Install GPU pkgs
  ansible.builtin.dnf:
    name:
      - igt-gpu-tools
      - nvtop
      - intel-compute-runtime
      - clinfo
    state: present
  when: ansible_architecture == 'x86_64'
- name: Do not enable BT at boot
  community.general.ini_file:
    path: /etc/bluetooth/main.conf
    section: Policy
    option: AutoEnable
    value: "false"
    no_extra_spaces: true
    mode: "0644"
- name: Setup dnf cache
  community.general.ini_file:
    path: /etc/dnf/dnf.conf
    section: main
    option: keepcache
    value: "False"
    no_extra_spaces: true
    mode: "0644"
- name: Setup PackageKit cache
  community.general.ini_file:
    path: /etc/PackageKit/PackageKit.conf
    section: Daemon
    option: KeepCache
    value: "false"
    no_extra_spaces: true
    mode: "0644"
- name: Remove dnf5-plugin-automatic
  ansible.builtin.dnf:
    name:
      - dnf5-plugin-automatic
    state: absent
