---
- name: Check for battery
  ansible.builtin.find:
    paths: /sys/class/power_supply
    patterns:
      - 'BAT*'
      - 'macsmc-battery'
    file_type: any
  register: linux_battery_check
- name: Update Writeback Time
  ansible.builtin.copy:
    content: |
      vm.laptop_mode = 5
      vm.dirty_writeback_centisecs = 1500
    dest: /etc/sysctl.d/dirty.conf
    mode: "0644"
  when: linux_battery_check.matched > 0
- name: Configure performance bias (battery)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced-battery/tuned.conf
    section: cpu
    option: energy_perf_bias
    value: balance-power
    no_extra_spaces: true
    mode: "0644"
- name: Configure performance bias (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: cpu
    option: energy_perf_bias
    value: balance-performance
    no_extra_spaces: true
    mode: "0644"
- name: Configure autogroup (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: sysctl
    option: kernel.sched_autogroup_enabled
    value: 1
    no_extra_spaces: true
    mode: "0644"
- name: Configure autogroup (battery)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced-battery/tuned.conf
    section: sysctl
    option: kernel.sched_autogroup_enabled
    value: 1
    no_extra_spaces: true
    mode: "0644"
- name: Disable WoL
  ansible.builtin.copy:
    content: |
      ACTION=="add", SUBSYSTEM=="net", NAME=="en*", RUN+="/usr/bin/ethtool -s $name wol d"
      ACTION=="add", SUBSYSTEM=="net", NAME=="wl*", ATTR{device/power/wakeup}="disabled"
    dest: /etc/udev/rules.d/wol.rules
    mode: "0644"
- name: Remove legacy net powersaving
  ansible.builtin.file:
    path: /etc/udev/rules.d/net_power_save.rules
    state: absent
- name: Remove legacy usb rule
  ansible.builtin.file:
    path: /etc/udev/rules.d/usb_power_save.rules
    state: absent
- name: Remove legacy pci rules
  ansible.builtin.file:
    path: /etc/udev/rules.d/pci_pm.rules
    state: absent
