---
- name: Check for battery
  ansible.builtin.find:
    paths: /sys/class/power_supply
    patterns:
      - 'BAT*'
      - 'macsmc-battery'
    file_type: any
  register: linux_battery_check
- name: Update Writeback Time
  ansible.builtin.copy:
    content: |
      vm.laptop_mode = 5
      vm.dirty_writeback_centisecs = 1500
    dest: /etc/sysctl.d/dirty.conf
    mode: "0644"
  when: linux_battery_check.matched > 0
- name: Configure performance preference (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: cpu
    option: energy_performance_preference
    value: balance_performance
    no_extra_spaces: true
    mode: "0644"
- name: Configure performance bias (AC)
  community.general.ini_file:
    path: /usr/lib/tuned/profiles/balanced/tuned.conf
    section: cpu
    option: energy_perf_bias
    value: balance-performance
    no_extra_spaces: true
    mode: "0644"
- name: Creates directory
  ansible.builtin.file:
    path: /etc/tuned/profiles/balanced-powersave
    state: directory
    mode: "0755"
- name: Battery profile
  ansible.builtin.copy:
    content: |
      [main]
      summary=Balanced profile biased towards power savings changes for battery
      include=powersave
      [sysctl]
      kernel.sched_autogroup_enabled=1
    dest: /etc/tuned/profiles/balanced-powersave/tuned.conf
    mode: "0644"
- name: Change ppd config (ac)
  community.general.ini_file:
    path: /etc/tuned/ppd.conf
    section: profiles
    option: balanced
    value: desktop
    no_extra_spaces: true
    mode: "0644"
- name: Change ppd config (battery)
  community.general.ini_file:
    path: /etc/tuned/ppd.conf
    section: battery
    option: balanced
    value: balanced-powersave
    no_extra_spaces: true
    mode: "0644"
- name: Disable WoL
  ansible.builtin.copy:
    content: |
      ACTION=="add", SUBSYSTEM=="net", NAME=="en*", RUN+="/usr/bin/ethtool -s $name wol d"
      ACTION=="add", SUBSYSTEM=="net", NAME=="wl*", ATTR{device/power/wakeup}="disabled"
    dest: /etc/udev/rules.d/wol.rules
    mode: "0644"
- name: Remove legacy net powersaving
  ansible.builtin.file:
    path: /etc/udev/rules.d/net_power_save.rules
    state: absent
- name: Remove legacy usb rule
  ansible.builtin.file:
    path: /etc/udev/rules.d/usb_power_save.rules
    state: absent
- name: Remove legacy pci rules
  ansible.builtin.file:
    path: /etc/udev/rules.d/pci_pm.rules
    state: absent
