---
- name: Install required packages
  ansible.builtin.dnf:
    name:
      # Prepare target basics
      - ansible-core
      - ansible-collection-community-general
      - ansible-collection-ansible-posix
      # Install Fontconfig
      - curl
      - cabextract
      - xorg-x11-font-utils
      - fontconfig
      # Install Microsoft Fonts
      - "https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm"
    state: present
    disable_gpg_check: true
- name: Enable firewalld
  ansible.builtin.service:
    name: firewalld.service
    enabled: true
    state: started
- name: Configure firewall services
  ansible.posix.firewalld:
    service: "{{ item.service }}"
    permanent: true
    immediate: true
    state: "{{ item.state }}"
  loop:
    - { service: ssh, state: disabled }
    - { service: mdns, state: enabled }
- name: Disable wide port ranges
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: disabled
  loop:
    - 1025-65535/udp
    - 1025-65535/tcp
- name: Check if swap config exist
  ansible.builtin.stat:
    path: /etc/tmpfiles.d/asahi-enable-zswap.conf
  register: asahiswap
- name: Update swap config
  ansible.builtin.lineinfile:
    regexp: 'compressor'
    line: "w     /sys/module/zswap/parameters/compressor         -    -    -    -    zstd"
    dest: /etc/tmpfiles.d/asahi-enable-zswap.conf
  when: asahiswap.stat.exists
