ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", RUN+="/usr/sbin/smartctl --set aam,off --set apm,off --set lookahead,on --set wcache,on --set wcreorder,off --set standby,242  /dev/%k"
