---
  - name: Make sure openh264 repo is enabled
    command: dnf config-manager --set-enabled fedora-cisco-openh264

  - name: Install codecs
    dnf: name={{ item }} state=present
    with_items:
    - mozilla-openh264
    - gstreamer1-plugin-openh264
    - gstreamer1-plugins-bad-free
    - gstreamer1-plugins-base
    - gstreamer1-plugins-good
    - gstreamer1-plugins-ugly-free

  - name: Install pkgs for VDPAU accel for Intel
    dnf: name={{ item }} state=present
    with_items:
    - gstreamer1-vaapi
    - libva-intel-hybrid-driver
    - libva-utils
    - libva-vdpau-driver
    - libvdpau
    - libvdpau-va-gl
    - mesa-vdpau-drivers
    - vdpauinfo


