---
# file: laptop.yml
- hosts: laptop
  remote_user: root
  roles:
    - common
    - { role: linux, become: true }
    - { role: duperemove, become: true }
    - git
    - containers
    - { role: flatpaks, become: true }
    - { role: affinity, become: true }
    - firefox-cache
